<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Greenhouse Configuration</title>
</head>
<body>
{{range .Msgs}}
<i>{{.}}</i><br>
{{end}}
<h1>Greenhouse Configuration</h1>

<p><a href="/">Click here to go back to home</a></p>

<form method="POST">
  <h2>General Configuration</h2>
	<table>
		<tr>
			<td><label for="RefreshRate">Refresh rate website (seconds)</label></td>
			<td><input type="number" name="RefreshRate" value="{{fsec .RefreshRate}}" required></td>
		</tr>
		<tr>	
			<td><label for="Port">Port (range: 1000-9999; requires reboot)</label></td>
			<td><input type="number" name="Port" value="{{.Port}}" required></td>
		<tr>
  </table>
  <h2>Greenhouse Configuration</h2>   
	<br>
	<input type="submit" value="Save">
</form>
</body>
</html>
