<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" http-equiv="refresh" content="{{fsec .RefreshRate}}" />
<title>Go Greenbox</title>
</head>
<body>

<h1>Greenbox {{.Id}}</h1>

<p>Last updated: {{.Time}} <i>(updates every {{.RefreshRate}} automatically)</i></p>

<h2>Led {{.Led.Id}}</h2>
<ul><li>Led {{.Led.Id}} is: {{if eq .Led.Active true}} Active {{else}} Inactive {{end}}</li></ul>

<h2>Soil</h2>
<ul>
	<li>Soil was last measured at {{fdateHM .MoistTime}} and is: {{.MoistValue}}</li>
	{{range .MoistSs}}
	<li>{{.Id}}: {{.Value}} ({{fdateHM .Time}})</li>
	{{end}}
</ul>

<h2>Soil Statistics</h2>
<table>
<tr><td><b>Date</b></td><td><b>Sensor</b></td><td><b>Round</b></td><td><b>Value</b></td></tr>
{{range .Stats}}
<tr>
{{range .}}
<td>{{.}}</td>
{{end}}
</tr>
{{end}}


{{range .Gx}}
  <h2>Greenhouse: {{.Id}}</h2>
  <ul>
    <li>Current temp: {{.TempValue}}⁰C</li>
    <ul>
      {{range .TempSs}}
        <li>Tempsensor: {{.Id}}</li>
        <ul>
          <li>Value: {{.Value}}</li>
          <li>Pin: {{.Pin}}</li>
        </ul>
      {{end}}
    </ul>
    <li>Min temp: {{.TempMin}}⁰C</li>
    <li>Max temp: {{.TempMax}}⁰C</li>
    {{range .Servos}}
      <li>Servo: {{.Id}}</li>
      <ul>
        <li>Pin: {{.Pin}}</li>
        <li>Open: {{.Open}}</li>
      </ul>
    {{end}}
    
    {{range .Boxes}}
      <li>Box: {{.Id}}</li>
      <ul>
        <li>MoistMin: {{.MoistMin}}</li>
        <li>MoistValue: {{.MoistValue}}</li>
        <ul>
          {{range .MoistSs}}
            <li>MoistSensor: {{.Id}}</li>
            <ul>
              <li>Value: {{.Value}}</li>
              <li>Pin: {{.Pin}}</li>
            </ul>
          {{end}}
        </ul>
        <li>Pump: {{.Pump.Id}}</li>
        <ul>
          <li>Pin: {{.Pin}}</li>
          <li>Duration: {{.Dur}}</li>
        </ul>
      </ul>
    {{end}}
    {{range .Leds}}
      <li>LED: {{.Id}}</li>
      <ul>
        <li>Active: {{.Active}}</li>
        <li>Pin: {{.Pin}}</li>
        <li>Start: {{.Start}}</li>
        <li>End: {{.End}}</li>
      </ul>
    {{end}}
  </ul>
{{end}}

</body>
</html>
