<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" http-equiv="refresh" content="{{fsec .RefreshRate}}" />
<style>
.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.buttonGreen {background-color: #4CAF50;} /* Green */
.buttonBlue {background-color: #008CBA;} /* Blue */
</style>
<title>Go Greenbox</title>
</head>
<body>

<h1>Greenbox {{.Id}}</h1>

<p>Last updated: {{.Time}} <i>(updates every {{.RefreshRate}} automatically)</i></p>

<h2>Led {{.Led.Id}}</h2>
<ul>
<li>Led {{.Led.Id}} is: {{if eq .Led.Active true}} Active {{else}} Inactive {{end}}</li>
<li>Led is activated between {{fdateHM .Led.Start}} and {{fdateHM .Led.End}}</li>
</ul>

<a href="/toggleled" class="button buttonGreen">Switch Light</a>
<a href="/soilcheck" class="button buttonGreen">Measure Soil Now</a>
<a href="/stop" class="button buttonBlue">Stop</a>

<h2>Soil</h2>
<ul>
	<li>Soil was last measured at {{fdateHM .SoilTime}} and is: {{.SoilValue}}</li>
	{{range .SoilSensors}}
	<li>{{.Id}}: {{.Value}} ({{fdateHM .Time}})</li>
	{{end}}
</ul>

<h2>Soil Statistics</h2>
<table>
<tr><td><b>Date</b></td><td><b>Sensor</b></td><td><b>Round</b></td><td><b>Value</b></td></tr>
{{range .Stats}}
<tr>
{{range .}}
<td>{{.}}</td>
{{end}}
</tr>
{{end}}

</body>
</html>
