<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" http-equiv="refresh" content="{{.RefreshRate}}" />
<title>Go Greenbox</title>
</head>
<body>

<h1>Greenbox Dashboard</h1>

<p>Last updated: {{.Time}} <i>(updates every {{.RefreshRate}} seconds automatically)</i></p>

{{range .Gx}}
  <h2>Greenhouse: {{.Id}}</h2>
  <ul>
    <li>Current temp: {{.TempValue}}⁰C</li>
    <ul>
      {{range .TempSs}}
        <li>Tempsensor: {{.Id}}</li>
        <ul>
          <li>Value: {{.Value}}</li>
          <li>Pin: {{.Pin}}</li>
        </ul>
      {{end}}
    </ul>
    <li>Min temp: {{.TempMin}}⁰C</li>
    <li>Max temp: {{.TempMax}}⁰C</li>
    {{range .Servos}}
      <li>Servo: {{.Id}}</li>
      <ul>
        <li>Pin: {{.Pin}}</li>
        <li>Open: {{.Open}}</li>
      </ul>
    {{end}}
    
    {{range .Boxes}}
      <li>Box: {{.Id}}</li>
      <ul>
        <li>MoistMin: {{.MoistMin}}</li>
        <li>MoistValue: {{.MoistValue}}</li>
        {{range .MoistSs}}
          <li>MoistSensor: {{.Id}}<li>
          <ul>
            <li>Value: {{.Value}}</li>
            <li>Pin: {{.Pin}}</li>
          </ul>
        {{end}}
        <li>Pump: {{.Pump.Id}}</li>
        <ul>
          <li>Pin: {{.Pin}}</li>
          <li>Duration: {{.Dur}}</li>
        </ul>
      </ul>
    {{end}}
    {{range .Leds}}
      <li>LED: {{.Id}}</li>
      <ul>
        <li>Active: {{.Active}}</li>
        <li>Pin: {{.Pin}}</li>
        <li>Start: {{.Start}}</li>
        <li>End: {{.End}}</li>
      </ul>
    {{end}}
  </ul>
{{end}}

</body>
</html>
